body {
    font-size: 18px;
    padding-top: 78px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-group > input-validation-error {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}

.field-validation-error {
    background-color: #FF4342;
    border-radius: 0 0 8px 8px;
    color: white;
    font-size: 16px;
    padding: 0 10px;
    position: absolute;
    width: 280px;
}

/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #FF4342;
    border-color: #FF4342;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #CD2827;
    background-color: rgba(205, 40, 39, 0.55);
}

.dropdown-menu {
    box-shadow: none;
    width: -webkit-fill-available;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.alert {
    border-radius: 8px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Nunito", Arial, sans-serif;
}

.form-group {
    margin-bottom: 28px;
}

.form-control {
    border-radius: 8px;
    font-size: 18px;
    padding: 20px 15px;
}

.form-control:focus {
    border-color: #2196F3;
    box-shadow: none;
}

.btn {
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 8px;
}

/* Page-level styles */

.gigs {
    list-style: none;
}
.gigs > li {
    display: flex;
    margin-bottom: 28px;
}

.gigs > li .date {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    text-align: center;
    width: 60px;
}

.gigs > li .month {
    border-radius: 8px 8px 0 0;
    background-color: red;
    color: white;
}

.gigs > li .day {
    background-color: #F7F7F7;
    border-color: lightgray;
    border-radius: 0 0 8px 8px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

.gigs > li .details {
    display: flex;
    flex-direction: column;
}

.gigs > li .artist {
    font-weight: bold;
}